{% extends "base.html" %}
{% block content %}    
    <header class="header" id="header">
        <div class="container">
            <div class="row flex-sm-row justify-content-between align-items-center header-menu-slide">
                <div class="col-6 col-sm-2 col-md-4 d-flex">
                    <div class="burger">
                        <div class="menu-burger_header menu-triger">
                            <span></span>
                        </div>
                        <nav class="burger-navigation menu-popup">
                            <ul class="burger-list">
                                <button class="close-btn menu-close">
                                    <img src="{{ url_for('static', path='images/close.png') }}" alt="close">
                                </button>
                                
                                <li class="burger-tab">
                                    <a href="#" class="burger-link">
                                        Мои Данные
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-4 d-flex">
                    <a href="#" class="logo">
                        <img src="{{ url_for('static', path='images/logo.png') }}" alt="logo">
                    </a>
                </div>
                <div class="col-12 col-sm-4 col-md-4 d-flex justify-content-center justify-content-sm-end">
                    <nav class="right-navigation">
                        <ul class="menu d-flex flex-column-reverse flex-lg-row justify-content-end align-items-center">
                            <li class="menu-item menu-item_help">
                                <a href="" class="menu-link">
									Тур
								</a>
                            </li>
                            <li class="menu-item menu-item_contacts">
                                <a href="" class="menu-link">
									Мои данные
								</a>
                            </li>
                            <li class="menu-item menu-item-btn">
                                <a href="" class="menu-link menu-link_btn btn">
                                     Прогноз погоды
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h1 class="header-title">
                        Что будет завтра?
                    </h1>
                    <p class="header-text">
                        Точный прогноз погоды дарит уверенность в каждом дне. Ясные данные о солнце, дожде и ветре помогут вам спланировать всё до мелочей без труда.
                    </p>
                    <a href="#" class="video-btn btn">
                        <img src="{{ url_for('static', path='images/play-icon.svg') }}" alt="arrow-icon" class="play-icon"> Прогноз на завтра
                    </a>
                    <div class="phone-weather mx-auto">

                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="real-time" id="real-time">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="{{ url_for('static', path='images/Lock_Icon.svg') }}" alt="lock-icon" class="lock-icon">
                    <h3 class="lock-title">
                        Погода в реальном времени
                        </h2>
                        <p class="lock-first_text">
                            Здесь вы найдёте всё, что нужно знать о погоде прямо сейчас и в будущем, доверяя нашим точным данным.
                        </p>
                        <p class="lock-second_text">
                            Сайт обновляет прогнозы мгновенно: солнце, дождь или ветер — всё отображается сразу, чтобы вы могли быстро принять решение и адаптироваться к любым условиям.
                        </p>
                </div>
                <div class="col-lg-6">
                    <img src="{{ url_for('static', path='images/Clock_Icon.svg') }}" alt="lock-icon" class="lock-icon">
                    <h3 class="lock-title">
                        Прогноз без лишних сложностей
                        </h2>
                        <p class="lock-first_text">
                            Это выглядит как простой способ узнать погоду, и вам понравится его удобство. "Так просто и ясно!" — подумаете вы.
                        </p>
                        <p class="lock-second_text">
                            Наш сайт даёт точные данные о погоде без запутанных деталей и лишних шагов.
                        </p>
                </div>
            </div>
        </div>
    </section>
    <section class="protect" id="protect">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-7">
                    <div class="iphone-number app-screen">

                    </div>
                </div>
                <div class="col-12 col-lg-5">
                    <h2 class="protect-title">
                        Ваш день под защитой
                    </h2>
                    <p class="protect-first-text">
                        Погода не застанет вас врасплох с нашими прогнозами, обещаем.  
                    </p>
                    <p class="protect-second-text">
                        Данные всегда свежие — солнце, дождь или ветер давно не были так предсказуемы, ведь мы следим за ними для вас.
                    </p>
                    <div class="protect-button d-flex flex-column flex-sm-row justify-content-between">
                        <a href="#" class="protect-btn btn d-flex justify-content-between">
							Проверь нас
							<img src="{{ url_for('static', path='images/Arrow_Icon.svg') }}" alt="" class="protect-btn_img">
						</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="partner" id="parther">
        <div class="container">
            <div class="row">
                <div class=" col-12 col-lg-5">
                    <h2 class="partner-title">
                        Мы почти везде с вами
                    </h2>
                    <p class="partner-first_text">
                        Наши прогнозы давно стали надёжными спутниками по всему миру, и мы не планируем останавливаться.
                    </p>
                    <p class="partner-second_text">
                        Сотрудничество с партнёрами позволяет нам быть ближе к вам и обеспечивать точность данных в любой точке.
                    </p>
                    <h5 class="partner-list">
                        Партнеры вымышленные
                    </h5>
                    <div class="partner-label d-flex justify-content-center justify-content-lg-start">
                        <a href="#" class="dropbox">
                            <img src="{{ url_for('static', path='images/Dropbox_Logo.svg') }}" alt="">
                        </a>
                        <a href="#" class="evernote">
                            <img src="{{ url_for('static', path='images/Evernote_Logo.svg') }}" alt="">
                        </a>
                    </div>
                </div>
                <div class=" col-12 col-lg-7">
                    <div class="map_img app-screen">

                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <a href="#" class="logo footer-logo">
                        <img src="{{ url_for('static', path='images/logo.png') }}" alt="logo" class="footer-logo_img">
                    </a>
                    <p class="footer-left_text">
                        It was some time before he obtained any answer, and the reply, when made, was unpropitious.
                    </p>
                    <a href="#" class="appstore">
                        <img src="{{ url_for('static', path='images/Download.svg') }}" alt="" class="appstore_img">
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <div class="form-wrapper active">
        <button class="form-wrapper-close">X</button>
        <p class="form-text-main">Войдите в свой аккаунт</p>
        <form action="" class="form-login">
            Введите почту
            <input type="email">
            Введите Пароль
            <input type="password">
            <input type="submit" value="Войти">
        </form>
        <p class="form-text-main">Зарегистрируйтесь</p>
        <form action="" class="form-register">
            Введите почту
            <input type="email" id="email">
            Введите Пароль
            <input type="password" id="password">
            <input type="submit" value="Зарегистрироваться">
        </form>
    </div>
    <div class="weather-panel">
        <button class="weather-panel-close">X</button>
        <p class="weather-text">Погода на сегодня</p>
        <form action="" class="weather-request">
            <p class="weather-text-form">Количество дней</p>
            <select name="days" class="weather-request-days">
                {% for day in range(1, 14) %}
                    <option value="{{ day }}">{{ day }}</option>
                {% endfor %}
            </select>
            
            <input type="submit" value="отправить" class="weather-submit">
        </form>
        {% include "wather-table.html" %}
    </div>
{% endblock %}